# === Actionable Hypotension Project Requirements ===
# Install with: pip install -r requirements.txt

# Jupyter for Notebooks
jupyterlab
ipywidgets

# Core scientific
numpy==2.2.6
pandas==2.3.2
scipy==1.16.1
scikit-learn==1.7.1
matplotlib==3.10.5
plotly==6.3.0
joblib==1.5.1

# Modeling & Explainability
xgboost==3.0.4
shap==0.48.0
optuna==4.5.0  # for hyperparameter optimization --> install optuna-dashboard if web UI is needed
deeproc==1.0.17

# Database connection
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
python-dotenv==1.1.1